.home{
	/* margin: 0px 180px; */
}
.social{
	display:flex;
	margin: 10px 70px;
}
.social-link{
	font-size:17px;
	color: rgb(70 130 180);
	padding: 0px 173px;
}
.mail{
	width:50%;
	display:flex;
	font-size:15px;
}
.mail p i {
	color: rgb(70 130 180);
}
.pi{
margin:0px 10px;
}
.nav{
	display:flex;
	margin: 30px 70px;
	
}
.nav-item{
	padding: 0px 197px;
}
.nav-item ul li{
	    font-size: 15px;
    padding: 13px;
	color: rgb(90 84 84);
}
.nav-item ul a{
padding: 12px 0px;
    font-size: 15px;
}
.logo{
font-size: 30px;
    font-weight: 900;
    color: rgb(5 5 81);
}
.nav-item ul{
	display:flex;
}
button{
	border: none;
    background-color: rgb(10 10 227);
    color: rgb(255 255 255);
    border-radius: 20px;
	margin: 6px 0px;
}